:root{
    --color-verde: #7AFF73;
    --color-amarilloarena: #E8CC69;
    --color-naranja: #FF7C66;
    --color-morado: #A569E8;
    --color-azul: #66E7FF;
    --color-gris: #C0BDBB;
    --letra:'Montserrat', sans-serif;
    --color-narajaclaro: #F2EEB6;
    --color-blancogrisado: #F2F2F2;
    }
.cabezera{
    display: flex;
    justify-content: space-between;
}