.login_input{
    margin-bottom: 2rem;
    width: 150%;
    padding: 1rem;
    font-family: var(--letra);
    border: none;
    border-bottom: 1px solid var(--color-gris);
    background-color: var(--color-blancogrisado);
}