.contacto__descripcion{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.contacto__formulario{
    display:inline-block;
}
.input-padron{
    width: 30rem;
    padding: .5rem;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid var(--color-gris);
}
.contacto__nombre--letras{
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    transform: translate(10px);
}
